#results-panel {
    padding: 2px;
    border: 5px inset silver;
    border-radius: 6px;
    width: 275px;
    margin: 10px auto 0;
}

#results-panel > * {
    margin: 5px;
}

#results-panel h4 {
    font-size: 1.5em;
}

#results-panel > p {
    font-size: 1.1em;
}

@media only screen and (min-width: 600px) and (max-width: 999px) {
    #results-panel {
        width: 75%;
    }
}

@media only screen and (min-width: 1000px) {
    #results-panel {
        font-size: 175%;
    }
}

@media only screen and (min-width: 1358px) {
    #results-panel {
        height: fit-content;
    }
}