#table-controls {
    justify-content: space-evenly;
    text-align: center;
}

.slider-container span > * {
    display: inline-flex;
    justify-content: space-around;
}

.slider-container .slider-end {
    font-size: 19px;
    font-weight: bolder;
}

#table-controls button {
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px outset #333;
    border-radius: 10px;
}

@media only screen and (min-width: 1000px) {
    #table-controls {
        font-size: 150%;
    }

    #table-controls span {
        font-size: 25px;
    }

    #table-controls input[type="range"] {
        width: 400px;
        height: 50px;
    }
}